h1 {
  color: blue;
}

h1:hover {
  color: red;
}

.palsta {
  width: 94%;
  max-width: 600px;
  line-height: 1.5;
  margin: auto; 
}

.alkusanat {
  font-family: Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}
.greeting {
	margin: 5px;
}

#hello {
	margin: 15px;
}